@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Diego Felipe Hoyos Moreno<br />
    <strong><abbr title="Profesion">Pro:</abbr></strong>
    Software Architect
    <br />
    <strong><abbr title="Cel">Cel:</abbr></strong>
    (+57) 301 284 64 42
    <br />
    <strong><abbr title="Mail">Email:</abbr></strong>
    <a href="mailto:dhoyos@entevo.co">dhoyos@entevo.co</a><br />    
</address>
<img class=" img-responsive" width="200"  src="~/images/Certificacion.png" />

<div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="es_ES" data-type="vertical" data-theme="dark" data-vanity="diego-felipe-hoyos-moreno-45664a40"><a class="LI-simple-link" href='https://co.linkedin.com/in/diego-felipe-hoyos-moreno-45664a40?trk=profile-badge'>Diego Felipe Hoyos Moreno</a></div>

